body{
    margin: 0px;
    background-image: url("img/todoimg.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
}

.container{
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.task-area{
    border: 1px solid aquamarine;
}

.flexbox{
    display: flex;
    border-bottom: 1px solid aquamarine;
    position: relative;
}

.flexbox div{
    padding: 1em;
}

#under-line{
    height: 4px;
    background-color: violet;
    position: absolute;
    width: 60px;
    left: 0px;
    top: 52px;
    padding: 0px;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}